<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ASCOM.JoloFocuser.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ASCOM.JoloFocuser.My.MySettings>
            <setting name="CommPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="FocuserMax" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MaxIncrement" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TempCycle" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="StepsPerC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StepperRPM" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Backslash" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DutyCycle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StepSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FocuserMove" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FocuserIn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FocuserOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QuickRunTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SchedDelayFirst" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SchedDel1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SchedDel2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SchedDel3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SchedNum1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SchedNum2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SchedNum3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SchedExp1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SchedExp2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SchedExp3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MirrorLock" serializeAs="String">
                <value>off</value>
            </setting>
            <setting name="GroupBySlot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="D7type" serializeAs="String">
                <value>digital input</value>
            </setting>
            <setting name="D8type" serializeAs="String">
                <value>digital input</value>
            </setting>
            <setting name="D9type" serializeAs="String">
                <value>digital input</value>
            </setting>
            <setting name="D10type" serializeAs="String">
                <value>digital input</value>
            </setting>
            <setting name="A5type" serializeAs="String">
                <value>digital input</value>
            </setting>
            <setting name="A6type" serializeAs="String">
                <value>digital input</value>
            </setting>
            <setting name="D7value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D8value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D9value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D10value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A5value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A6value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D7refresh" serializeAs="String">
                <value>auto refresh</value>
            </setting>
            <setting name="D8refresh" serializeAs="String">
                <value>auto refresh</value>
            </setting>
            <setting name="D9refresh" serializeAs="String">
                <value>auto refresh</value>
            </setting>
            <setting name="D10refresh" serializeAs="String">
                <value>auto refresh</value>
            </setting>
            <setting name="A5refresh" serializeAs="String">
                <value>auto refresh</value>
            </setting>
            <setting name="A6refresh" serializeAs="String">
                <value>auto refresh</value>
            </setting>
        </ASCOM.JoloFocuser.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
